In [1]:
#python sets

In [9]:
mydata = {"khushbu", 23.4, True, False}                    # any data type of data is acceptable

In [10]:
mydata                                                     # python set is unorderd.

{23.4, False, True, 'khushbu'}

In [11]:
mydata.append("yogi")                                             # we can not add elements to the set

AttributeError: 'set' object has no attribute 'append'

In [1]:
w ={1, 0.2, 5 ,8, 4, 6, 7, 5, 8, 7}

In [2]:
w                                                          # sets does not allows duplicate values

{0.2, 1, 4, 5, 6, 7, 8}

In [12]:
w[2]                                                      # we cannot access elements using indexing

TypeError: 'set' object is not subscriptable

In [4]:
k =[ "khushbu","shahare"]

In [5]:
k

['khushbu', 'shahare']

In [6]:
k.append("yogu")

In [7]:
k

['khushbu', 'shahare', 'yogu']

In [17]:
k[1]="a"

In [18]:
k

['khushbu', 'a']

In [20]:
len(w)

7

In [21]:
# python dict

In [13]:
dict = {'fname':"khushbu",'lname':"shahare",'add':"sakoli"}

In [15]:
dict                                                                  # dictionary are ordered

{'fname': 'khushbu', 'lname': 'shahare', 'add': 'sakoli'}

In [25]:
dict['lname']                               # we can access the elements using key value pair

'shahare'

In [26]:
dict['add'] = "bhandara"             # we can replace initial key value pair and we can add also new key value pair

In [27]:
dict

{'fname': 'khushbu', 'lname': 'shahare', 'add': 'bhandara'}

In [16]:
dict["gaon"] = "nagpur"

In [17]:
dict

{'fname': 'khushbu', 'lname': 'shahare', 'add': 'sakoli', 'gaon': 'nagpur'}

In [29]:
mydict = {'name':"khushbu","occu":"teacher","name":"assistant professor"}

In [31]:
mydict                                                 # if we have the same key then it takes final key value

{'name': 'assistant professor', 'occu': 'teacher'}

In [33]:
m ={1:"kk",2:"ll"}

In [34]:
m[1]

'kk'